<div id="<%= dom_id anime %>">
  <p>
    <strong>Title english:</strong>
    <%= anime.title_english %>
  </p>

  <p>
    <strong>Title native:</strong>
    <%= anime.title_native %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= anime.description %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= anime.score %>
  </p>

  <p>
    <strong>Aired start:</strong>
    <%= anime.aired_start %>
  </p>

  <p>
    <strong>Aired end:</strong>
    <%= anime.aired_end %>
  </p>

  <p>
    <strong>Premiered:</strong>
    <%= anime.premiered %>
  </p>

  <p>
    <strong>Episodes:</strong>
    <%= anime.episodes %>
  </p>

</div>
